rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sutras/{sutraId} {
      allow read, write;
    }
    match /metadata/{metadataId} {
      allow read, write;
    }
    match /secures/{secureId} {
      // request.auth.token.target is given when ip restriction is not applied.
      allow read, write: if request.auth.uid != null && request.auth.token.target == secureId;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}