header {
  padding: 20px;
}

.content {
  width: 1024px;
  margin: auto;
  margin-top: 10px;
}

.button-nav {
  background: steelblue;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: 0 2px 5px #ccc;
  color: #fcfcfc;
}
.button-primary {
  background: steelblue;
  border: 0;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: 0 2px 5px #ccc;
  color: #fcfcfc;
}
.button-cancel {
  background: darkgray;
  text-decoration: none;
  border: none;
  padding: 5px 20px;
  box-shadow: 0 2px 5px #ccc;
  color: #fcfcfc;
}
.ml-min {
  margin-left: 10px;
}